* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; 
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 2100px;
	background-image: url(../images/backimg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.banner{
	position: absolute;
	top: 7%;
	left: 31%;
}
.one{
	position: absolute;.
	top: 40%;
	left: 15%;
}
.one img{
	float: left;
}
.one p{
	font-size: 180%;
	float: left;
    margin-top: 8%;
}
.two{
	position: absolute;
	top: 48%;
	right: 15%;
}
.two img{
	float: right;
}
.two p{
	font-size: 180%;
	float: right;
    margin-top: 8%;
}
.three{
	position: absolute;
	top: 57%;
	left: 15%;
}
.three img{
	float: left;
}
.three p{
	font-size: 180%;
	float: left;
    margin-top: 8%;
}
.four{
	position: absolute;
	top: 65%;
	right: 15%;
}
.four img{
	float: right;
}
.four p{
	font-size: 180%;
	float: right;
    margin-top: 8%;
}
.five{
	position: absolute;
	top: 73%;
	left: 15%;
}
.five img{
	float: left;
}
.five p{
	font-size: 180%;
	float: left;
    margin-top: 8%;
}
.six{
	position: absolute;
	top: 81%;
	right: 16%;
}
.six img{
	float: right;
}
.six p{
	font-size: 180%;
	float: right;
    margin-top: 8%;
}
.seven{
	position: absolute;
	top: 89%;
	left: 15%;
}
.seven img{
	float: left;
}
.seven p{
	font-size: 180%;
	float: left;
    margin-top: 8%;
}
.eight{
	position: absolute;
	top: 97%;
	right: 15%;
}
.eight img{
	float: right;
}
.eight p{
	font-size: 180%;
	float: right;
    margin-top: 8%;
}
.nine{
	position: absolute;
	top: 105%;
	left: 15%;
}
.nine img{
	float: left;
}
.nine p{
	font-size: 180%;
	float: left;
    margin-top: 8%;
}
.ten{
	position: absolute;
	top: 113%;
	right: 15%;
}
.ten img{
	float: right;
}
.ten p{
	font-size: 180%;
	float: right;
    margin-top: 8%;
}
.footer{
	position: absolute;
	top: 127%;
	left: 15%;
}













